.table-cell {
  padding: 10px;
  text-align: start;
}

.table-cell:nth-child(1) {
  white-space: nowrap;
  width: 96px;
}

.table-cell:nth-child(3) {
  width: calc(100% - 182px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table-cell_buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
  align-items: flex-end;
  margin-left: auto;
}

.table-cell_open .todo-title,
.table-cell_open .todo-description {
  white-space: unset;
}

.todo-title {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-height: 35px;
  word-break: break-all;
}

.todo-description {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  min-height: 35px;
}

.edit-btn,
.delete-btn,
.archive-btn,
.open-btn,
.close-btn {
  display: block;
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
}

.edit-btn {
  background: no-repeat url('../../../img/edit.svg') center / cover;
}

.delete-btn {
  background: no-repeat url('../../../img/delete.svg') center / cover;
}

.archive-btn {
  opacity: 0.5;
  background: no-repeat url('../../../img/archive.svg') center / cover;
}

.archived {
  opacity: 1;
}

.open-btn {
  position: absolute;
  bottom: 0;
  left: 48%;
  filter: var(--button-arrow-color);
  background: no-repeat url('../../../img/double-arrow-up.svg') center / cover;
}

.close-btn {
  position: absolute;
  bottom: 0;
  left: 48%;
  background: no-repeat url('../../../img/double-arrow-down.svg') center / cover;
  filter: var(--button-arrow-color);
}

.pointer {
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
}

.pointer:hover {
  box-shadow: inset 0 0 10px 0 var(--content-shadow-color);
}

@media screen and (max-width: 576px) {
  .table-cell:nth-child(1) {
    display: none;
  }

  .table-cell:nth-child(3) {
    width: calc(100% - 81px);
  }
}
