#root {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 20px;
  min-height: 100vh;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.main__wrapper {
  display: flex;
  margin: 0 auto;
  text-align: center;
  gap: 20px;
  width: 1000px;
}

@media screen and (max-width: 1024px) {
  .main__wrapper {
    width: 800px;
  }
}

@media screen and (max-width: 899px) {
  #root {
    padding: 20px;
  }

  .main__wrapper {
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }
}
